@font-face {
  font-family: 'FontAwesome';
  src: url("applab/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
#divApplab.appModern button,
#divApplab.appModern button:hover {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 30px;
  width: 80px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern label,
#divApplab.appModern label:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  line-height: 1;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  color: rgb(51, 51, 51);
  max-width: 320px;
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=text],
#divApplab.appModern input[type=text]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 200px;
  height: 30px;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=checkbox],
#divApplab.appModern input[type=checkbox]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern select,
#divApplab.appModern select:hover {
  width: 200px;
  height: 30px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 188, 156);
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern input[type=radio],
#divApplab.appModern input[type=radio]:hover {
  width: 12px;
  height: 12px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern div.textArea,
#divApplab.appModern div.textArea:hover {
  width: 200px;
  height: 100px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern img,
#divApplab.appModern img:hover {
  height: 100px;
  width: 100px;
  object-fit: contain;
  font-family: "object-fit: contain;";
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern canvas,
#divApplab.appModern canvas:hover {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern div.screen,
#divApplab.appModern div.screen:hover {
  display: block;
  height: 450px;
  width: 320px;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 0;
}

#divApplab.appModern div.chart,
#divApplab.appModern div.chart:hover {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#divApplab.appModern input[type=range],
#divApplab.appModern input[type=range]:hover {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 150px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#divApplab.appModern #screenWelcome {
  background-color: rgb(0, 0, 0);
  background-size: 320px 450px;
  background-image: url("https://studio.code.org/media?u=http%3A%2F%2Fwww.hdiphone6wallpapers.net%2Fiphone-6-backgrounds%2Fiphone-6-wallpapers-2%2Fiphone-6-wallpapers-hd-100pb94q-1080x1920.jpg");
}

#divApplab.appModern #labelTitle {
  font-size: 55px;
  color: rgb(222, 12, 12);
  width: 315px;
  height: 170px;
  left: 5px;
  top: 280px;
}

#divApplab.appModern #buttonPlay {
  height: 60px;
  width: 90px;
  font-size: 20px;
  background-color: rgb(103, 5, 6);
  left: 225px;
  top: 385px;
}

#divApplab.appModern #labelSequel {
  font-size: 15px;
  color: rgb(222, 12, 12);
  width: 237px;
  height: 35px;
  left: 5px;
  top: 254px;
}

#divApplab.appModern #buttonLeaderboard {
  height: 35px;
  width: 90px;
  font-size: 13px;
  background-color: rgb(103, 5, 6);
  left: 225px;
  top: 345px;
}

#divApplab.appModern #screenWin {
  background-size: 320px 450px;
  background-image: url("https://studio.code.org/media?u=http%3A%2F%2Fwww.hdiphone6wallpapers.net%2Fiphone-6-backgrounds%2Fiphone-6-wallpapers-2%2Fiphone-6-wallpapers-hd-100pb94q-1080x1920.jpg");
  background-color: rgb(0, 0, 0);
  display: none;
}

#divApplab.appModern #labelWin {
  font-size: 50px;
  color: rgb(214, 191, 12);
  width: 269px;
  height: 59px;
  left: 25px;
  top: 140px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

#divApplab.appModern #buttonWin {
  width: 144px;
  background-color: rgb(132, 122, 15);
  left: 95px;
  top: 200px;
}

#divApplab.appModern #labelFinalScoreText {
  font-size: 30px;
  color: rgb(214, 191, 12);
  width: 177px;
  height: 35px;
  left: 5px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  top: 345px;
}

#divApplab.appModern #labelFinalScore {
  font-size: 30px;
  color: rgb(214, 191, 12);
  width: 74px;
  height: 35px;
  left: 185px;
  top: 345px;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}

#divApplab.appModern #labelPerfect {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 138px;
  height: 30px;
  left: 20px;
  top: 385px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

#divApplab.appModern #buttonSubmit {
  width: 144px;
  background-color: rgb(132, 122, 15);
  left: 170px;
  top: 385px;
}

#divApplab.appModern #labelGoodScore {
  font-size: 19px;
  color: rgb(214, 191, 12);
  width: 219px;
  height: 24px;
  left: 95px;
  top: 420px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

#divApplab.appModern #labelBadScore {
  font-size: 19px;
  color: rgb(214, 191, 12);
  width: 260px;
  height: 43px;
  left: 55px;
  top: 420px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

#divApplab.appModern #screenClick {
  height: 451px;
  background-size: 320px 451px;
  background-image: url("https://studio.code.org/blockly/media/1x1.gif");
  background-color: rgb(0, 0, 0);
  display: none;
}

#divApplab.appModern #imageBackground {
  width: 320px;
  left: 2.22045e-16px;
  height: 450px;
}

#divApplab.appModern #imageUfo {
  height: 70px;
  width: 95px;
  left: 190px;
  top: 240px;
}

#divApplab.appModern #imageAsteroid1 {
  height: 60px;
  width: 60px;
  left: 40px;
  top: 75px;
}

#divApplab.appModern #imageHotbar {
  height: 23px;
  width: 320px;
}

#divApplab.appModern #labelScoreText {
  color: rgb(22, 2, 117);
  width: 48px;
  left: 3px;
  top: 2px;
}

#divApplab.appModern #labelLivesText {
  color: rgb(22, 2, 117);
  width: 43px;
  left: 80px;
  top: 2px;
}

#divApplab.appModern #labelScore {
  color: rgb(22, 2, 117);
  width: 30px;
  left: 50px;
  top: 2px;
}

#divApplab.appModern #labelLives {
  color: rgb(22, 2, 117);
  width: 30px;
  top: 2px;
  left: 125px;
}

#divApplab.appModern #labelExtraLivesText {
  color: rgb(22, 2, 117);
  width: 92px;
  left: 211px;
  top: 2px;
}

#divApplab.appModern #labelExtraLives {
  color: rgb(22, 2, 117);
  width: 14px;
  top: 2px;
  left: 303px;
}

#divApplab.appModern #imageAsteroid2 {
  height: 50px;
  width: 50px;
  left: 95px;
  top: 345px;
}

#divApplab.appModern #screenGameOver {
  background-size: 320px 450px;
  background-image: url("https://studio.code.org/media?u=http%3A%2F%2Fwww.hdiphone6wallpapers.net%2Fiphone-6-backgrounds%2Fiphone-6-wallpapers-2%2Fiphone-6-wallpapers-hd-100pb94q-1080x1920.jpg");
  background-color: rgb(0, 0, 0);
  display: none;
}

#divApplab.appModern #labelGameOver {
  font-size: 50px;
  color: rgb(142, 216, 23);
  width: 285px;
  left: 15px;
  top: 190px;
  height: 49px;
  text-align: center;
}

#divApplab.appModern #buttonRetry {
  height: 35px;
  width: 100px;
  font-size: 20px;
  background-color: rgb(51, 130, 15);
  left: 115px;
  top: 250px;
}

#divApplab.appModern #buttonMainMenu {
  height: 35px;
  width: 201px;
  font-size: 18px;
  background-color: rgb(30, 82, 5);
  left: 65px;
  top: 295px;
}

#divApplab.appModern #screenInstructions {
  background-size: 320px 450px;
  background-image: url("https://studio.code.org/media?u=http%3A%2F%2Fwww.hdiphone6wallpapers.net%2Fiphone-6-backgrounds%2Fiphone-6-wallpapers-2%2Fiphone-6-wallpapers-hd-100pb94q-1080x1920.jpg");
  display: none;
}

#divApplab.appModern #buttonGo {
  height: 40px;
  width: 100px;
  background-color: rgb(42, 102, 220);
  left: 110px;
  top: 395px;
}

#divApplab.appModern #labelInstructions1 {
  color: rgb(255, 255, 255);
  width: 300px;
  height: 47px;
  left: 10px;
  top: 275px;
}

#divApplab.appModern #labelInstructions2 {
  color: rgb(255, 255, 255);
  width: 310px;
  height: 61px;
  left: 10px;
  top: 325px;
}

#divApplab.appModern #screenLeaderboard {
  background-size: 320px 450px;
  background-image: url("https://studio.code.org/media?u=http%3A%2F%2Fwww.hdiphone6wallpapers.net%2Fiphone-6-backgrounds%2Fiphone-6-wallpapers-2%2Fiphone-6-wallpapers-hd-100pb94q-1080x1920.jpg");
  display: none;
}

#divApplab.appModern #labelLeaderboard {
  color: rgb(214, 191, 12);
  width: 311px;
  height: 53px;
  left: 5px;
  top: 10px;
  font-size: 48px;
}

#divApplab.appModern #buttonBack {
  height: 35px;
  width: 90px;
  background-color: rgb(132, 122, 15);
  left: 225px;
  top: 410px;
}

#divApplab.appModern #labelHighScoreName3 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 90px;
  height: 30px;
  left: 75px;
  top: 115px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName4 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 90px;
  height: 30px;
  left: 75px;
  top: 140px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName13 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 90px;
  height: 30px;
  left: 75px;
  top: 365px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName14 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 90px;
  height: 30px;
  left: 75px;
  top: 390px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName15 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  left: 75px;
  top: 415px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName5 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 90px;
  height: 30px;
  left: 75px;
  top: 165px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore2 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 90px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore4 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 140px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore5 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 165px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore6 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 190px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore7 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 215px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore8 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 240px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore9 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 265px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore10 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 290px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore11 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 315px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore12 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 340px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore13 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 365px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore14 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 390px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore15 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 415px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreScore3 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 115px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName12 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  left: 75px;
  top: 340px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName11 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  left: 75px;
  top: 315px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName10 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  text-align: center;
  left: 75px;
  top: 290px;
}

#divApplab.appModern #labelHighScoreName9 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  text-align: center;
  top: 265px;
  left: 75px;
}

#divApplab.appModern #labelHighScoreName8 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  text-align: center;
  top: 240px;
  left: 75px;
}

#divApplab.appModern #labelHighScoreName7 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  text-align: center;
  top: 215px;
  left: 75px;
}

#divApplab.appModern #labelHighScoreName6 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 88px;
  height: 30px;
  text-align: center;
  top: 190px;
  left: 75px;
}

#divApplab.appModern #labelHighScoreName2 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 90px;
  height: 30px;
  left: 75px;
  top: 90px;
  text-align: center;
}

#divApplab.appModern #labelHighScoreName1 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 90px;
  height: 30px;
  left: 75px;
  text-align: center;
  top: 65px;
}

#divApplab.appModern #labelHighScoreScore1 {
  font-size: 25px;
  color: rgb(214, 191, 12);
  width: 65px;
  height: 30px;
  left: 160px;
  top: 65px;
  text-align: center;
}
